{% extends "base.html" %}

{% block main %}
<div class="welcome">
  <h1 class="title">Parts メンテナンス</h1>
  <a class="btn btn-primary" href="{% url 'parts_new' %}">
      新規追加</a>
</div>

{% if parts %}
    <table class="table table-striped">
    <thead>
    <tr>
        <th>品目コード</th>
        <th>品名</th>
        <th>サイズ指定</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for part in parts %}
    <tr>
        <th><a href="{% url 'parts_detail' part.id %}">
                {{ part.code }} </a></th>
        <td>{{ part.name}} </td>
        <td>{{ part.sizeType}} </td>
        <td>
            <a class="btn btn" href="{% url 'parts_detail' part.id %}">
<div>

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg>
</div>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p> 品目未登録 </p>
{% endif %}
{% endblock %}

